body{
    margin: 0 2%;
    text-align: center;
    background-color: rgb(0, 19, 22);
    font-family: "Avenir", cursive, sans-serif;
    color: rgb(199, 199, 199);
}
.col-md{
    margin: 2rem auto;
}
.field{
    width: 80%;
    padding: 3%;
    border-radius: 25px;
    background-color: rgb(0, 23, 26);
    box-shadow: -2px -2px 5px white,
                4px 4px 5px rgb(28, 28, 28);
    margin-left: 7%;
    margin-top: 15%;
}
input{
    width: 29%;
    height: 7vw;
    font-weight: bold;
    text-align: center;
    font-size: 5vw;
    border-radius: 3px;
    border: none;
}
.solutionParagraph{
    font-size: 6vw;
    font-weight: bold;
}
.header{
    font-size: 9vw;
}
.subHeader{
    font-size: 7vw;;
}
button{
    background-color: #72a7cf;
	border-radius: 10px;
	outline: none;
	color: black;
	padding: 1vw;
    font-size: 4vw;
    font-weight: bold;
}

.calcButton{
    padding: 1vw 2vw 1vw 2vw;
} 

.backButton{
    font-size: large;
    padding: 2vw;
}

#direct1{
    margin-top: 38%;
}
.directButton{
    font-size: large;
    padding: 1.5vw;
    margin-top: 4vw;
}

.helpImage{
	float: center;
	width: 11vw;
    background: none;
    margin-right: 20vw;
}

.settingsImage{
	float: right;
	width: 10vw;
    background: none;
    margin-top: 0.3vw;
}

.imageButton{
	background: none;
	padding: 3vw;
	border: none;
	position: absolute;
	top: 26.8vw;
	right: 33.3vw;
    outline: none;
}

.backButton{
    margin-top: 1rem;
}